* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5 */
  /* percentage of user's browser font-size setting */
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: #fff;
}

.text {
  color: #444444;
  font-family: "Outfit", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.6rem;
}

/* *************************************** */
/* HERO */
/* *************************************** */

.hero {
  display: flex;
  min-height: 100vh;
}

.black-space {
  width: 30%;
  overflow-x: hidden;
  background: #151515;
}

.light-logo {
  width: 80%;
  transform: translate(61.8%, 100%);
}

.darklogo {
  transform: translate(-62.8%, 92%);
  width: 65%;
  text-align: end;
}

.two-flex-box {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 2/2;
}

.hero__image {
  max-width: 80rem;
  background-image: url(../assets/desktop/image-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}

.hero-img,
.dark-logom {
  display: none;
}

.hero-description {
  max-width: 30rem;
}

.hero-content {
  margin-top: -10rem;
  margin-left: -5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8rem;
  z-index: 1;
}

.hero__button {
  max-width: 20rem;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  font-family: "Big Shoulders Display", sans-serif;
  letter-spacing: 0.2rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s;
}

.hero-btn-text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  padding: 1.6rem;
  background-color: #d5966c;
}

/* *************************************** */
/* GALLERY */
/* *************************************** */

.section-gallery {
  margin-top: 10rem;
  margin-bottom: 10rem;
  padding: 5rem;
}

.gallery--2-cols,
.flex {
  max-width: 110rem;
  margin: 0 auto 3rem auto;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.grid1 {
  max-width: 100%;
}

.grid2 {
  max-width: 100%;
}

.grid3 {
  max-width: 100%;
}

.grid1t,
.grid2t,
.grid3t {
  display: none;
}

.col-text {
  max-width: 28%;
}

.flex {
  gap: 3rem;
}

.col-text,
.col-texts,
.column-flex {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.col-texts {
  max-width: 100%;
  gap: 2rem;
  background-color: #000;
  padding: 7.1rem;
}

h2 {
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 6rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #151515;
}

.h2 {
  color: #fff;
}

.col-texts .text {
  color: #fff;
}
/* *************************************** */
/* FOOTER */
/* *************************************** */

.footer {
  background-color: #000;
  color: #fff;
  padding: 10rem 5rem;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 110rem;
  margin: 0 auto;
}

.footer-description {
  font-family: "Outfit", sans-serif;
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 2.6rem;
  width: 40%;
}

.ul {
  display: flex;
  gap: 2rem;
  transition: all 0.3s;
  list-style: none;
}

li img:hover {
  opacity: 0.5;
  cursor: pointer;
}
